.app {
  text-align: center;
}
.app_main {
  padding: 100px;
  height: 100vh;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.auto-selector {
  display: flex;
  border-bottom: 1px solid black;
}
.ingredients-list {
  list-style: none;
  display: flex;
  padding: 0;
  align-content: center;
}
.list-item{
  width: 100%;
  justify-content: center;
  font-size: 18px;
}
.ingredient-quantity {
  width: 40px;
  height: 40px;
  font-size: 30px;
  margin-right: 10px;
}
.ingredient-select {
  width: 20px;
  height: 20px;
}
.ingredient{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ingredient-info {
  display: flex;
  flex-direction: row;

}
.checkout-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.checkout-button {
  width: 200px;
  height: 40px;
  background-color: green;
  border:0;
  border-radius: 3px;
  align-items: left;
}