.app {
  text-align: center;
}
.app_main {
  padding: 20px;
  height: 100vh;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.auto-selector {
  display: flex;
  border-bottom: 1px solid black;
}
.ingredients-list {
  list-style: none;
  display: flex;
  padding: 0;
}
.list-item{
  justify-content: left;
  font-size: 18px;
}
.ingredient-quantity {
  width: 40px;
  height: 40px;
  font-size: 30px;
  margin-right: 10px;
}
.ingredient-select {
  width: 20px;
  height: 20px;
}
.ingredients-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.item {
  flex-direction: row;
}
.item-label {
  flex-direction: row;
}
.item-price{
  flex-direction: row;
}